body {
    margin: 0 auto;
    min-height: 100vh;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url(./assets/home.png) center/cover no-repeat;
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4e5150 0%, #1e1d25 51%, #e2e5e4 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.shuffle-desk-btn {
    opacity: 0;
    background-image: linear-gradient(to right, #eff32c8a 0%, #9d9d6b63 51%, hsl(60deg 11% 30% / 62%) 100%);
    color: black;

}

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ancient-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.settings {
    padding: 20px 0;
    width: 100%;
}

.difficulty {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.card-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    width: 100%;
}

.card-container {
    justify-content: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.ancient,
.desk,
.card,
.current-card {
    cursor: pointer;
    background-size: cover;
    height: 320px;
    width: 230px;
    border-radius: 20px;
    transition: .5s;
}

.desk {
    opacity: 0;
    box-shadow: 6px 6px 6px rgba(255, 1215, 0, 100%);
    transition: .5s;
}

.current-card {
    opacity: 0;
    height: 320px;
    width: 230px;
    transition: .5s;
    background-image: linear-gradient(to right, #eff32c8a 0%, #9d9d6b63 51%, hsl(60deg 11% 30% / 62%) 100%);
}

.active {
    box-shadow: 6px 6px 6px rgba(255, 1215, 0, 100%);
}

.tracker {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}

.stage-wrapper {
    display: flex;
    flex-direction: column;
}

.current-dots {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.dots {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 6px 6px 6px rgba(255, 1215, 0, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: rgb(58, 105, 58);
}

.brown {
    background-color: rgb(131, 91, 42);
}

.blue {
    background-color: rgb(53, 69, 130);
}

.visible {
    opacity: 1;
    transition: .5s;
}